@model Projeto_Jardim_Escola.Models.Aluno

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                @if (User.IsInRole("Admin")) {
                    <input asp-for="Nome" class="form-control" />
                } else {
                    <input asp-for="Nome" class="form-control" readonly />
                }
                
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            
            <div class="form-group" hidden>
                <hr />
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" asp-for="Nome" class="form-control" readonly />
                <span asp-validation-for="Foto" class="text-danger"></span>
                <hr />
            </div>

            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                @if (User.IsInRole("Admin")) {
                    <input asp-for="DataNascimento" class="form-control" />
                } else {
                    <input asp-for="DataNascimento" class="form-control" readonly />
                }
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoIdentificacaoFK" class="control-label"></label>
                @if (User.IsInRole("Admin"))
                {
                    <select asp-for="TipoIdentificacaoFK" class="form-control" asp-items="ViewBag.TipoIdentificacaoFK"></select>
                } else {
                    <input asp-for="TipoIdentificacaoFK" class="form-control" asp-items="ViewBag.TipoIdentificacaoFK" readonly />
                }
                <span asp-validation-for="TipoIdentificacaoFK" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Identificacao" class="control-label"></label>
                @if (User.IsInRole("Admin")) {
                    <input asp-for="Identificacao" class="form-control" />
                } else {
                    <input asp-for="Identificacao" class="form-control" readonly />
                }
                <span asp-validation-for="Identificacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NIF" class="control-label"></label>
                @if (User.IsInRole("Admin")) {
                    <input asp-for="NIF" class="form-control" />
                } else {
                    <input asp-for="NIF" class="form-control" readonly />
                }
                <span asp-validation-for="NIF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                @if (User.IsInRole("Admin")) {
                    <input asp-for="Genero" class="form-control" />
                } else {
                    <input asp-for="Genero" class="form-control" readonly />
                }
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResponsavelFK" class="control-label"></label>
                @if (User.IsInRole("Admin")) {
                    <select asp-for="ResponsavelFK" class="form-control" asp-items="ViewBag.ResponsavelFK"></select>
                } else {
                    <input asp-for="ResponsavelFK" class="form-control" asp-items="ViewBag.ResponsavelFK" readonly />
                }

                <span asp-validation-for="ResponsavelFK" class="text-danger"></span>
            </div>
            
            @if (User.IsInRole("Admin")) {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
            } else {
                <div class="form-group form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
            }

            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label"></label>
                <select asp-for="Avaliacao" class="form-control">
                    <option value="Não revela progressos">Não revela progressos</option>
                    <option value="Revela progressos">Revela progressos</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
