@model Projeto_Jardim_Escola.Models.Turma

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Adicionar turma</h1>

<h4>TURMA</h4>
<hr />
<div class="row">
    <div class="col-md-4">  
        <form asp-action="Create" id="turmaForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoLetivoFK" class="control-label"></label>
                <select asp-for="AnoLetivoFK" id="anoLetivoId" class="form-control" asp-items="ViewBag.AnoLetivoFK">
                    <option value="0">--- Escolha o ano letivo ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProfessorFK" class="control-label"></label>
                <select asp-for="ProfessorFK" class ="form-control" asp-items="ViewBag.ProfessorFK"></select>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" id="btnAdicionar" value="Adicionar" class="btn btn-primary col-12" />
            </div>
        </form>
    </div>        
    <!-- --- --- --- --- -->  
    <div class="col-md-8">
        <label>Escolha os alunos a associar à turma:</label>
        <table class="table" id="tabelaAlunos">
            <thead>
                <tr>
                    <th>Associar</th>
                    <th>Nome do Aluno</th>
                    <th style="display:none;">Id do Aluno</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            /**
             * Ao mudar o valor da combobox dos anos letivos
             *      apresenta uma lista de alunos
             *      - ativos; e
             *      - que não tenham turma associada.
             */
            $('#anoLetivoId').change(function () {

                // Obter o valor selecionado do elemento select.
                var anoLetivoId = $(this).val();

                if (anoLetivoId != 0) {
                    // Criar um objeto para enviar os dados ao servidor.
                    var data = {
                        anoLetivoId: anoLetivoId
                    };

                    $.ajax({
                        url: '/Turmas/GetListaAlunos',
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        success: function (alunos) {
                            var tabela = $('#tabelaAlunos tbody');
                            tabela.empty();
                    
                            alunos.forEach(function (aluno) {
                                tabela.append('<tr><td><input type="checkbox" id="checkbox" name="checkbox"> Atribuir' + '</td><td>' + aluno.nome + '</td><td style="display:none;">' + aluno.id + '</td></tr>');
                            });
                        },
                        error: function () {
                            console.log('Ocorreu um erro ao carregar os alunos.');
                            var tabela = $('#tabelaAlunos tbody');
                            tabela.empty();
                            tabela.append('<tr><td>OCORREU UM ERRO</td></tr>');
                        }
                    });
                } else {
                    var tabela = $('#tabelaAlunos tbody');
                    tabela.empty();
                }  
            });

            /**
             * Ao clicar para adicionar a turma
             *      também associa os alunos selecionadas
             *      a essa turma adicionada.
             */
            $("#btnAdicionar").click(function (event) {
                event.preventDefault();

                var alunosSelecionados = [];
                $("#tabelaAlunos input[name='checkbox']:checked").each(function () {
                    var alunoId = $(this).closest("tr").find("td:eq(2)").text();
                    alunosSelecionados.push(alunoId);
                });

                // Adicionar os valores dos alunos selecionados como campo oculto no formulário.
                var alunosSelecionadosInput = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "alunosSelecionados")
                    .appendTo("#turmaForm");

                alunosSelecionadosInput.val(JSON.stringify(alunosSelecionados));

                $("#turmaForm").submit();
            });

        });

    </script>
    
}
