@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Não tem acesso a esta página. <a href="@Url.Action("Index", "Home")">Volta à página início</a></p>
</header>
