@page
@model LoginModel

@{
    ViewData["Title"] = "Autenticação";
}

<div>
    <section>
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <!-- Imagem -->
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="/Icons/LoginBgImage.png"
                         class="img-fluid" alt="https://wallpapersafari.com/w/J1AvbN">
                </div>

                <!-- Formulário de Login -->
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    
                    <form id="account" method="post">

                        <div class="divider d-flex align-items-center my-4">
                            <h3>AUTENTICAÇÃO</h3>
                        </div>

                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <!-- Email -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Email:</label>
                            <input asp-for="Input.Email" id="form3Example3" class="form-control form-control-sm" autocomplete="username" aria-required="true"
                                    placeholder="Email" />
                        </div>

                        <!-- Password -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Password:</label>
                            <input asp-for="Input.Password" type="password" id="form3Example4" class="form-control form-control-sm" autocomplete="current-password" aria-required="true"
                                    placeholder="Password" />
                        </div>

                        <!-- Checkbox -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-check mb-0">
                                <input asp-for="Input.RememberMe" class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label asp-for="Input.RememberMe" class="form-check-label" for="form2Example3">
                                    Relembrar conta?
                                </label>
                            </div>
                        </div>

                        <!-- Botão de Login -->
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                ENTRAR
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
