@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar Conta";
}

<div class="row">

    <div class="col-md-12">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h5>Escolha o tipo de conta:</h5>
                <button class="nav-link active" id="v-pills-resp-tab" data-bs-toggle="pill" data-bs-target="#v-pills-resp" type="button" role="tab" aria-controls="v-pills-resp" aria-selected="true">Responsável</button>
                <button class="nav-link" id="v-pills-prof-tab" data-bs-toggle="pill" data-bs-target="#v-pills-prof" type="button" role="tab" aria-controls="v-pills-prof" aria-selected="false">Professor</button>
                <button class="nav-link" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin" aria-selected="false">Administrador</button>
                <hr />
                <h5>Gerir contas:</h5>
                <a asp-controller="Responsaveis" asp-action="Index" class="btn btn-outline-primary mb-1">Responsáveis</a>
                <a asp-controller="Professores" asp-action="Index" class="btn btn-outline-primary mb-1">Professores</a>
            </div>
            <div class="tab-content" id="v-pills-tabContent">

                @* FORMULÁRIO PARA CRIAR UMA CONTA DE ENCARREGADO DE EDUCAÇÃO *@
                <div class="tab-pane fade show active" id="v-pills-resp" role="tabpanel" aria-labelledby="v-pills-resp-tab" tabindex="0">
                    <br />
                    <h5>Vamos criar uma nova conta <strong>Encarregado de Educação</strong></h5>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <input type="text" id="ActiveTab1" name="ActiveTab" hidden="hidden">

                        @* --------------- NOME --------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.Nome" class="form-control" autocomplete="username" aria-required="true" placeholder="nome" />
                            <label asp-for="Input.Responsavel.Nome">* Nome</label>
                            <span asp-validation-for="Input.Responsavel.Nome" class="text-danger"></span>
                        </div>

                        @* ------------- TELEMÓVEL ------------ *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.Telemovel" class="form-control" autocomplete="username" aria-required="true" placeholder="telemóvel" />
                            <label asp-for="Input.Responsavel.Telemovel">* Telemóvel</label>
                            <span asp-validation-for="Input.Responsavel.Telemovel" class="text-danger"></span>
                        </div>

                        @* -------------- MORADA -------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.Morada" class="form-control" autocomplete="username" aria-required="true" placeholder="morada" />
                            <label asp-for="Input.Responsavel.Morada">* Morada</label>
                            <span asp-validation-for="Input.Responsavel.Morada" class="text-danger"></span>
                        </div>

                        @* ----------- CÓDIGO POSTAL ---------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.CodPostal" class="form-control" autocomplete="username" aria-required="true" placeholder="código postal" />
                            <label asp-for="Input.Responsavel.CodPostal">* Código Postal</label>
                            <span asp-validation-for="Input.Responsavel.CodPostal" class="text-danger"></span>
                        </div>

                        @* ----------- ESCOLARIEDADE ----------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.Escolaridade" class="form-control" autocomplete="username" aria-required="true" placeholder="escolaridade" />
                            <label asp-for="Input.Responsavel.Escolaridade">* Escolaridade</label>
                            <span asp-validation-for="Input.Responsavel.Escolaridade" class="text-danger"></span>
                        </div>

                        @* ------------- PROFISSÃO ------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.Profissao" class="form-control" autocomplete="username" aria-required="true" placeholder="profissão" />
                            <label asp-for="Input.Responsavel.Profissao">* Profissão</label>
                            <span asp-validation-for="Input.Responsavel.Profissao" class="text-danger"></span>
                        </div>

                        @* ------- TIPO DE IDENTIFICAÇÃO ------ *@
                        <div class="form-floating mb-3">
                            <select asp-for="Input.Responsavel.TipoIdentificacaoFK" class="form-control form-select" asp-items="ViewBag.TipoIdentificacaoFK"></select>
                        </div>

                        @* ----------- IDENTIFICAÇÃO ---------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.Identificacao" class="form-control" autocomplete="username" aria-required="true" placeholder="identificação" />
                            <label asp-for="Input.Responsavel.Identificacao">* Número de Identificação</label>
                            <span asp-validation-for="Input.Responsavel.Identificacao" class="text-danger"></span>
                        </div>

                        @* ---------------- NIF --------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Responsavel.NIF" class="form-control" autocomplete="username" aria-required="true" placeholder="nif" />
                            <label asp-for="Input.Responsavel.NIF">* NIF</label>
                            <span asp-validation-for="Input.Responsavel.NIF" class="text-danger"></span>
                        </div>

                        @* --------------- EMAIL --------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">* Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        @* -------------- PASSWORD ------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">* Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        @* -------- CONFIRMAR PASSWORD --------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">* Confirmar Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button id="registerSubmit" type="submit" class="btn btn-lg btn-success">Registar Conta <strong>Enc. Educação</strong></button>

                    </form>
                </div>

                @* FORMULÁRIO PARA CRIAR UMA CONTA DE PROFESSOR *@
                <div class="tab-pane fade" id="v-pills-prof" role="tabpanel" aria-labelledby="v-pills-prof-tab" tabindex="0">
                    <br />
                    <h5>Vamos criar uma nova conta <strong>Professor</strong></h5>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <input type="text" id="ActiveTab2" name="ActiveTab" hidden="hidden">

                        @* --------------- NOME --------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Professor.Nome" class="form-control" autocomplete="username" aria-required="true" placeholder="nome" />
                            <label asp-for="Input.Professor.Nome">* Nome</label>
                            <span asp-validation-for="Input.Professor.Nome" class="text-danger"></span>
                        </div>

                        @* ------------- TELEMÓVEL ------------ *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Professor.Telemovel" class="form-control" autocomplete="username" aria-required="true" placeholder="telemóvel" />
                            <label asp-for="Input.Professor.Telemovel">* Telemóvel</label>
                            <span asp-validation-for="Input.Professor.Telemovel" class="text-danger"></span>
                        </div>                             

                        @* ------- TIPO DE IDENTIFICAÇÃO ------ *@
                        <div class="form-floating mb-3">
                            <select asp-for="Input.Professor.TipoIdentificacaoFK" class="form-control form-select" asp-items="ViewBag.TipoIdentificacaoFK"></select>
                        </div>

                        @* ----------- IDENTIFICAÇÃO ---------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Professor.Identificacao" class="form-control" autocomplete="username" aria-required="true" placeholder="identificação" />
                            <label asp-for="Input.Professor.Identificacao">* Número de Identificação</label>
                            <span asp-validation-for="Input.Professor.Identificacao" class="text-danger"></span>
                        </div>

                        @* ---------------- NIF --------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Professor.NIF" class="form-control" autocomplete="username" aria-required="true" placeholder="nif" />
                            <label asp-for="Input.Professor.NIF">* NIF</label>
                            <span asp-validation-for="Input.Professor.NIF" class="text-danger"></span>
                        </div>

                        @* --------------- EMAIL -------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">* Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        @* -------------- PASSWORD ------------ *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">* Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        @* -------- CONFIRMAR PASSWORD -------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">* Confirmar Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button id="registerSubmit" type="submit" class="btn btn-lg btn-success">Registar Conta <strong>Professor</strong></button>

                    </form>
                </div>

                @* FORMULÁRIO PARA CRIAR UMA CONTA DE ADMINISTRADOR *@
                <div class="tab-pane fade" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab" tabindex="0">
                    <br />
                    <h5>Vamos criar uma nova conta <strong>Administrador</strong></h5>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <input type="text" id="ActiveTab3" name="ActiveTab" hidden="hidden">

                        @* --------------- EMAIL -------------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">* Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        @* -------------- PASSWORD ------------ *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">* Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        @* -------- CONFIRMAR PASSWORD -------- *@
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">* Confirmar Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button id="registerSubmit" type="submit" class="btn btn-lg btn-success">Registar Conta <strong>Administrador</strong></button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    document.getElementById('v-pills-resp-tab').addEventListener('click', function () {
        // Obter o ID da tab ativa.
        var activeTabId = document.querySelector('.nav-link.active').id;

        // Definir o valor do campo oculto.
        document.getElementById('ActiveTab1').value = activeTabId;
    });
    document.getElementById('v-pills-prof-tab').addEventListener('click', function () {
        // Obter o ID da tab ativa.
        var activeTabId = document.querySelector('.nav-link.active').id;

        // Definir o valor do campo oculto.
        document.getElementById('ActiveTab2').value = activeTabId;
    });
    document.getElementById('v-pills-admin-tab').addEventListener('click', function () {
        // Obter o ID da tab ativa.
        var activeTabId = document.querySelector('.nav-link.active').id;

        // Definir o valor do campo oculto.
        document.getElementById('ActiveTab3').value = activeTabId;
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
