@{
    ViewData["Title"] = "Início";
}

<!-- Mensagem em destaque de informação sobre a aplicação -->
<div class="alert alert-primary" role="alert">
    Gestor de um jardim-escola. Este projeto foi desenvolvido no âmbito da U.C. de Desenvolvimento Web do curso de Engenharia Informática do IPTomar.
</div>

<br />

<div>
    <h3>Que bom te ver, @User.Identity.Name!</h3>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        @*<button type="button" class="btn btn-outline-primary">Definições da conta</button>*@
        <button type="submit" class="btn btn-outline-danger">Terminar sessão</button>
    </form>
</div>

<hr />

<!-- Secção dos cards -->
<div class="row row-cols-1 row-cols-md-4 g-4">

        <!-- Card #1 Alunos -->
        <div class="col">
            <div class="card" style="width: 18rem;">
            <img height="176" src="/Icons/alunos.gif" class="card-img-top" alt="O(s) meu(s) educando(s)">
            <div class="card-body">
                <h5 class="card-title">Acompanhar os meus educandos</h5>
                <p class="card-text">Se pretende acompanhar os educandos associados a si, clique no botão para ser redirecionado.</p>
                <a asp-controller="Alunos" asp-action="Index" class="btn btn-primary">Ver educandos</a>
            </div>
        </div>
    </div>

    <!-- Card #2 Turmas -->
    @if (User.IsInRole("Professor") || User.IsInRole("Admin")) {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img height="200" src="/Icons/turmas.gif" class="card-img-top" alt="As turmas">
                <div class="card-body">
                    <h5 class="card-title">Acompanhe as turmas</h5>
                    <p class="card-text">Se pretende gerenciar ou acompanhar as turmas, clique no botão para ser redirecionado.</p>
                    <a asp-controller="Turmas" asp-action="Index" class="btn btn-primary">Ver turmas</a>
                </div>
            </div>
        </div>   
    }
    

    <!-- Cards Admins -->
    @if (User.IsInRole("Admin")) {

        <!-- Card #3 Criação de Contas -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img height="200" src="/Icons/contas.gif" class="card-img-top" alt="Criar conta">
                <div class="card-body">
                    <h5 class="card-title">Criar contas</h5>
                    <p class="card-text">Se pretende criar uma nova conta, clique no botão para ser redirecionado.</p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Criar conta</a>
                </div>
            </div>
        </div>

        <!-- Card #3 Gestão Anos Letivos -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img height="200" src="/Icons/calendario.gif" class="card-img-top" alt="Anos Letivos">
                <div class="card-body">
                    <h5 class="card-title">Anos Letivos</h5>
                    <p class="card-text">Se pretende gerenciar anos letivos, clique no botão para ser redirecionado.</p>
                    <a asp-controller="AnosLetivos" asp-action="Index" class="btn btn-primary">Gerir Anos Letivos</a>
                </div>
            </div>
        </div>

        <!-- Card #3 Gestão Tipos de Identificação -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img height="200" src="/Icons/identificacao.gif" class="card-img-top" alt="Tipos de Identificação">
                <div class="card-body">
                    <h5 class="card-title">Tipos de Identificação</h5>
                    <p class="card-text">Se pretende gerenciar tipos de identificação, clique no botão para ser redirecionado.</p>
                    <a asp-controller="TiposIdentificacoes" asp-action="Index" class="btn btn-primary">Gerir Tipos de Identificação</a>
                </div>
            </div>
        </div>
    }
</div>

