@{
    ViewData["Title"] = "Créditos";
}

<div>
    <img src="/Icons/ipt-logo.png" alt="Instituto Politécnico de Tomar">
    <h3>Desenvolvimento Web 2022/2023</h3>
    <hr />
    <h5><strong>Alunos: </strong>André Sá (aluno21296@ipt.pt) e Bárbara Barbosa (aluno19493@ipt.pt)</h5>
    <h5><strong>Ano Letivo: </strong>2022/2023</h5>
    <br />
    <h5><strong>Objetivo da app: </strong>Gerenciar um jardim escola com a possibilidade de acompanhar alunos, professores e turmas.</h5>
</div>
<hr />
<div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
        <h3>Créditos:</h3>
        <hr />
        <p>Gif de alunos: <a href="https://www.flaticon.com/free-animated-icons/student" title="student animated icons">Student animated icons created by Freepik - Flaticon</a></p>
        <p>Gif de turmas: <a href="https://www.flaticon.com/free-animated-icons/presentation" title="presentation animated icons">Presentation animated icons created by Freepik - Flaticon</a></p>
        <p>Gif de contas: <a href="https://www.flaticon.com/free-animated-icons/login" title="login animated icons">Login animated icons created by Freepik - Flaticon</a></p> 
    </div>
    <div class="col">
        <h3>Contas de Testes</h3>
        <hr />
        <p><strong>Administrador</strong></p>
        <p><strong>u: </strong>admin@jardimescola.com</p>
        <p><strong>p: </strong>Admin123.</p>
    </div>
</div>

